Repository stm32-rs/stm32-rs, pull requests merged in 2021-11, with the labels that each got.

#657 wl5x / wle5: put all timers in TIM group
  devices/stm32wl5x_cm0p.yaml
  devices/stm32wl5x_cm4.yaml
  devices/stm32wle5.yaml
Labels: stm32wl

#658 Updating STM32H7 ETH_MAC MMC mask register writable
  devices/common_patches/h7_ethernet_mac.yaml
  devices/stm32h735.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
Labels: stm32h7

#662 Add SDMMC2EN and SDMMC2RST to F765, F7x7, F7x9
  CHANGELOG.md
  devices/common_patches/f765_f7x7_f7x9_common.yaml
Labels: stm32f7

#666 Update SVDs for STM32G0B1/C1
  devices/common_patches/g0_usb_enum.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
  svd/vendor/en.stm32g0_svd.zip
Labels: stm32g0
