Repository stm32-rs/stm32-rs, pull requests merged in 2021-12, with the labels that each got.

#671 Add bit ranges to HDMI CEC registers
  devices/common_patches/hdmi_cec.yaml
  devices/stm32f0x1.yaml
  devices/stm32f0x2.yaml
  devices/stm32f0x8.yaml
  devices/stm32f765.yaml
  devices/stm32h735.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
  devices/stm32h7b3.yaml
Labels: stm32f0, stm32f7, stm32h7

#672 registers must be dict
  devices/stm32h735.yaml
Labels: bug, stm32h7

#669 devices/stm32l4r9.yaml: patch TIM3 and TIM4
  devices/stm32l4r9.yaml
Labels: stm32l4

#673 SVDTOOLS env value
  CHANGELOG.md
  Makefile
Labels: enhancement

#675 g0: fix_delete DMA
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
Labels: stm32g0

#676 bump svd2rust to 0.20
  .github/workflows/ci.yaml
  .github/workflows/nightlies.yaml
  CHANGELOG.md
  README.md
  scripts/makecrates.py
Labels: enhancement

#659 Readd TIM21/TIM22 to l0xx series
  peripherals/tim/tim21.yaml
  peripherals/tim/tim_l0.yaml
Labels: stm32l0

#679 Fix make html on macOS with python 3.8+
  scripts/makehtml.py
Labels: bug
