Repository stm32-rs/stm32-rs, pull requests merged in 2022-07, with the labels that each got.

#729 g4 RCC Remove RNGSMEN -> RNGEN
  CHANGELOG.md
  devices/common_patches/g4_rcc.yaml
Labels: stm32g4

#716 Add SYSCFG to stm32g070
  devices/stm32g070.yaml
Labels: stm32g0

#678 Add enumerated values for STM32F405/415/407/417/427/437/429/439 TIM2 ITR1_RMP
  devices/common_patches/tim/tim2_itr1_rmp.yaml
  devices/stm32f405.yaml
  devices/stm32f407.yaml
  devices/stm32f427.yaml
  devices/stm32f429.yaml
Labels: stm32f4

#708 Add missing BDCR LSEMOD field for STM32F410/11/12
  devices/common_patches/f41x_bdcr_lsemod.yaml
  devices/stm32f410.yaml
  devices/stm32f411.yaml
  devices/stm32f412.yaml
Labels: stm32f4

#719 Change the groupName of ADC_Common from ADC to ADC_Common
  devices/common_patches/adc_common_group_name.yaml
  devices/common_patches/l4_adc_common.yaml
  devices/common_patches/wb_adc_common.yaml
  devices/stm32f215.yaml
  devices/stm32f217.yaml
  devices/stm32f401.yaml
  devices/stm32f405.yaml
  devices/stm32f407.yaml
  devices/stm32f410.yaml
  devices/stm32f411.yaml
  devices/stm32f412.yaml
  devices/stm32f413.yaml
  devices/stm32f427.yaml
  devices/stm32f429.yaml
  devices/stm32f446.yaml
  devices/stm32f469.yaml
  devices/stm32f730.yaml
  devices/stm32f745.yaml
  devices/stm32f750.yaml
  devices/stm32f765.yaml
  devices/stm32f7x2.yaml
  devices/stm32f7x3.yaml
  devices/stm32f7x6.yaml
  devices/stm32f7x7.yaml
  devices/stm32f7x9.yaml
  devices/stm32l4r9.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
  devices/stm32l552.yaml
  devices/stm32l562.yaml
Labels: stm32f2, stm32f4, stm32f7, stm32l4, stm32l5, stm32wb

#710 CRC peripheral corrections
  devices/common_patches/crc/crc_add_pol.yaml
  devices/common_patches/crc/crc_rename_pol.yaml
  devices/common_patches/stm32l4x2_l412.yaml
  devices/stm32f0x0.yaml
  devices/stm32f0x1.yaml
  devices/stm32f0x2.yaml
  devices/stm32f0x8.yaml
  devices/stm32f301.yaml
  devices/stm32f302.yaml
  devices/stm32f303.yaml
  devices/stm32f373.yaml
  devices/stm32f3x4.yaml
  devices/stm32f730.yaml
  devices/stm32f745.yaml
  devices/stm32f750.yaml
  devices/stm32f765.yaml
  devices/stm32f7x2.yaml
  devices/stm32f7x3.yaml
  devices/stm32f7x6.yaml
  devices/stm32f7x7.yaml
  devices/stm32f7x9.yaml
  devices/stm32h735.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
  devices/stm32h7b3.yaml
  devices/stm32l0x0.yaml
  devices/stm32l0x1.yaml
  devices/stm32l0x2.yaml
  devices/stm32l0x3.yaml
  devices/stm32l4r5.yaml
  devices/stm32l4r9.yaml
  devices/stm32l4x1.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
  devices/stm32wl5x_cm0p.yaml
  devices/stm32wl5x_cm4.yaml
  devices/stm32wle5.yaml
  peripherals/crc/crc_pol.yaml
  peripherals/crc/crc_with_polysize.yaml
Labels: stm32f0, stm32f3, stm32f7, stm32h7, stm32l0, stm32l4, stm32wl

#691 sai
  devices/common_patches/h7_sai.yaml
  devices/common_patches/h7_sai_mcken.yaml
  devices/common_patches/sai/sai_v1.yaml
  devices/common_patches/sai/sai_v2.yaml
  devices/common_patches/stm32l4x2_l412.yaml
  devices/stm32f405.yaml
  devices/stm32f407.yaml
  devices/stm32f413.yaml
  devices/stm32f427.yaml
  devices/stm32f429.yaml
  devices/stm32f446.yaml
  devices/stm32f469.yaml
  devices/stm32f730.yaml
  devices/stm32f745.yaml
  devices/stm32f765.yaml
  devices/stm32f7x2.yaml
  devices/stm32f7x3.yaml
  devices/stm32f7x6.yaml
  devices/stm32f7x7.yaml
  devices/stm32f7x9.yaml
  devices/stm32g431.yaml
  devices/stm32g441.yaml
  devices/stm32g471.yaml
  devices/stm32g473.yaml
  devices/stm32g474.yaml
  devices/stm32g483.yaml
  devices/stm32g484.yaml
  devices/stm32g491.yaml
  devices/stm32g4a1.yaml
  devices/stm32h735.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h7b3.yaml
  devices/stm32l4r9.yaml
  devices/stm32l552.yaml
  devices/stm32l562.yaml
  devices/stm32wb55.yaml
  peripherals/sai/sai.yaml
Labels: stm32f4, stm32f7, stm32h7, stm32l5, stm32g4, stm32wb

#682 shorter registernames for stm32l4 devices of the COMP registers + add…
  devices/common_patches/comp/l4xx_comp_reg_rename.yaml
  devices/common_patches/dac/dac_rename_stm32l4xx.yaml
  devices/stm32l4x1.yaml
  devices/stm32l4x2.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
  peripherals/comp/comp_l4x1.yaml
  peripherals/comp/comp_l4x6.yaml
  peripherals/dac/dac_l4xx.yaml
  peripherals/opamp/opamp_l4.yaml
Labels: stm32l4

#677 STM32H735 yaml fixes
  devices/stm32h735.yaml
  peripherals/cordic/cordic_h7.yaml
Labels: stm32h7

#652 H7: Add UART9/USART10 for RM0468 parts, fix base address for RM0455 parts
  devices/common_patches/h7_common_highmemory.yaml
  devices/stm32h735.yaml
Labels: stm32h7
