Repository stm32-rs/stm32-rs, pull requests merged in 2022-05, with the labels that each got.

#734 access fixes
  devices/stm32f3x4.yaml
  devices/stm32l0x0.yaml
  devices/stm32l0x1.yaml
  devices/stm32l0x2.yaml
  devices/stm32l0x3.yaml
  devices/stm32wle5.yaml
  peripherals/hsem/hsem_wl.yaml
Labels: stm32f3, stm32l0, stm32wl

#735 HSEM arrays
  devices/common_patches/hsem/array.yaml
  devices/stm32h735.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
  devices/stm32h7b3.yaml
  devices/stm32wb55.yaml
  devices/stm32wl5x_cm0p.yaml
  devices/stm32wl5x_cm4.yaml
  devices/stm32wle5.yaml
Labels: stm32h7, stm32wb, stm32wl

#723 Fix L4 `ADC?.DR.RDATA` field name and description.
  CHANGELOG.md
  devices/common_patches/adc_dr_rdata.yaml
  devices/common_patches/f3_adc.yaml
  devices/common_patches/l4_adc.yaml
  devices/common_patches/stm32l4x2_l412.yaml
  devices/stm32l4x1.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
Labels: stm32l4

#720 Add more enums for L4 clock selections.
  devices/stm32l4x1.yaml
  devices/stm32l4x2.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
  peripherals/rcc/rcc_l4.yaml
  peripherals/rcc/rcc_l4_uart4.yaml
  peripherals/rcc/rcc_l4_uart5.yaml
  peripherals/rcc/rcc_l4_usart2_3.yaml
Labels: stm32l4
