Repository stm32-rs/stm32-rs, pull requests merged in 2022-01, with the labels that each got.

#649 Fix Overdrive and BDMADR fields on h743/h753
  devices/common_patches/h743_hrtim_common.yaml
  devices/common_patches/h74x_syscfg_pwrcr.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
Labels: stm32h7

#681 STM32L4x1/L4x2/L4x3: Rename DBGMCU APB_FZR registers to match general convention
  devices/common_patches/l4_dbg_apb_fzr_rename.yaml
  devices/stm32l4r9.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
Labels: stm32l4

#680 STM32L4xx: Add GPIOx ASCR & BRR registers
  devices/common_patches/l4_gpio_ascr.yaml
  devices/common_patches/l4_gpio_brr.yaml
  devices/stm32l4x1.yaml
  devices/stm32l4x2.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
Labels: stm32l4

#686 clear all vendor provided enumeratedValues for g0 and h7b3
  CHANGELOG.md
  devices/common_patches/h7_common_highmemory.yaml
  devices/common_patches/tim/v2/g0_1.yaml
  devices/stm32g050.yaml
  devices/stm32g051.yaml
  devices/stm32g061.yaml
  devices/stm32g070.yaml
  devices/stm32g071.yaml
  devices/stm32g0b0.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
  devices/stm32h7b3.yaml
Labels: stm32h7, stm32g0

#688 svd2rust 0.21
  .github/workflows/ci.yaml
  .github/workflows/nightlies.yaml
  CHANGELOG.md
  Makefile
  README.md
  scripts/makecrates.py
Labels: enhancement
