Repository stm32-rs/stm32-rs, pull requests merged in 2022-04, with the labels that each got.

#687 G0
  devices/common_patches/dma/dma_v1.yaml
  devices/common_patches/dma/v1_array.yaml
  devices/common_patches/g0_adc.yaml
  devices/common_patches/g0_add_dma1_7ch.yaml
  devices/common_patches/g0_dma_5ch.yaml
  devices/common_patches/g0_dma_7ch.yaml
  devices/common_patches/i2c/g0.yaml
  devices/common_patches/rename_g0_SPI_registers.yaml
  devices/common_patches/usart/g0.yaml
  devices/common_patches/wl_adc.yaml
  devices/stm32g030.yaml
  devices/stm32g031.yaml
  devices/stm32g041.yaml
  devices/stm32g050.yaml
  devices/stm32g051.yaml
  devices/stm32g061.yaml
  devices/stm32g070.yaml
  devices/stm32g071.yaml
  devices/stm32g081.yaml
  devices/stm32g0b0.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
  peripherals/adc/adc_wl.yaml
  peripherals/dma/dma_v1.yaml
  peripherals/dma/dmamux_wl.yaml
  peripherals/dma/single_dma_v1.yaml
  peripherals/dma/v1.yaml
  peripherals/spi/spi_I2S_ASTRTEN.yaml
  peripherals/spi/spi_common.yaml
  svd/vendor/en.stm32g0_svd.zip
Labels: stm32g0

#712 Add timers TIM23 and TIM24 to stm32h735
  devices/stm32h735.yaml
Labels: stm32h7

#690 Make FLASH_WRP??R and FLASH_SECR writable
  devices/common_patches/g0_flash.yaml
  devices/stm32g030.yaml
  devices/stm32g031.yaml
  devices/stm32g041.yaml
  devices/stm32g070.yaml
  devices/stm32g071.yaml
  devices/stm32g081.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
Labels: stm32g0

#696 F301: Add missing P to JADST
  devices/stm32f301.yaml
  devices/stm32f3x4.yaml
Labels: stm32f3

#699 Fix ADC disable
  peripherals/adc/adc_v3.yaml
Labels: bug, stm32f3, stm32h7

#697 stm32f411 otg fixes
  CHANGELOG.md
  devices/common_patches/usb_otg/otg_fs_fixes_v1.yaml
Labels: stm32f4
