Repository stm32-rs/stm32-rs, pull requests merged in 2023-01, with the labels that each got.

#744 Rust support for stm32u5
  .github/workflows/ci.yaml
  Makefile
  devices/stm32u575.yaml
  devices/stm32u585.yaml
  scripts/makecrates.py
  stm32_part_table.yaml
  svd/extract.sh
  svd/vendor/en.STM32U5_svd.zip
Labels: stm32u5

#797 Feature/g4 improvements
  devices/stm32g431.yaml
  devices/stm32g441.yaml
  devices/stm32g471.yaml
  devices/stm32g473.yaml
  devices/stm32g474.yaml
  devices/stm32g483.yaml
  devices/stm32g484.yaml
  devices/stm32g491.yaml
  peripherals/flash/flash_g4.yaml
  peripherals/rcc/rcc_g4.yaml
Labels: stm32g4

#765 STM32C0 family support
  .github/workflows/ci.yaml
  .github/workflows/nightlies.yaml
  Makefile
  README.md
  devices/common_patches/c0.yaml
  devices/stm32c011.yaml
  devices/stm32c031.yaml
  scripts/makecrates.py
  stm32_part_table.yaml
  svd/vendor/en.stm32c0_svd.zip
Labels: stm32c0
