Repository stm32-rs/stm32-rs, pull requests merged in 2023-11, with the labels that each got.

#915 Add FDCAN2 peripheral to G491
  CHANGELOG.md
  devices/stm32g491.yaml
Labels: stm32g4

#921 fix DAC peripheral for stm32f4
  CHANGELOG.md
  devices/stm32f410.yaml
  devices/stm32f413.yaml
  devices/stm32f427.yaml
  devices/stm32f429.yaml
  devices/stm32f446.yaml
  devices/stm32f469.yaml
  peripherals/dac/dac_f410.yaml
  peripherals/dac/dac_f4_2ch.yaml
  peripherals/dac/dac_wavegen.yaml
Labels: stm32f4

#922 fix L5 DMA cluster
  CHANGELOG.md
  devices/collect/can/filter_bank2.yaml
  devices/collect/dma/l5.yaml
  devices/common_patches/can/can_l4+.yaml
  devices/stm32f215.yaml
  devices/stm32f217.yaml
  devices/stm32l4p5.yaml
  devices/stm32l552.yaml
  devices/stm32l562.yaml
Labels: stm32l5

#914 missing CAN registers in l4x3/x5
  CHANGELOG.md
  devices/common_patches/can/l4x3_missing_regs.yaml
  devices/stm32l4x3.yaml
  devices/stm32l4x5.yaml
Labels: stm32l4

#923 G4 DMA IFCR & more array descriptions
  CHANGELOG.md
  devices/collect/flash/secbbr.yaml
  devices/collect/hsem/r.yaml
  devices/collect/jpeg/ram.yaml
  devices/collect/rtc/alarm.yaml
  devices/collect/rtc/alarm_wl.yaml
  devices/collect/sdio/resp.yaml
  devices/common_patches/dma/g4_ifcr.yaml
  devices/stm32f103.yaml
  devices/stm32g431.yaml
  devices/stm32g441.yaml
  devices/stm32g471.yaml
  devices/stm32g473.yaml
  devices/stm32g474.yaml
  devices/stm32g483.yaml
  devices/stm32g484.yaml
  devices/stm32g491.yaml
  devices/stm32g4a1.yaml
Labels: stm32g4

#927 fix F103 USB RESP1
  CHANGELOG.md
  devices/stm32f103.yaml
Labels: stm32f1
