Repository stm32-rs/stm32-rs, pull requests merged in 2024-07, with the labels that each got.

#870 `RNG` of f4
  CHANGELOG.md
  devices/stm32f405.yaml
  devices/stm32f407.yaml
  devices/stm32f410.yaml
  devices/stm32f412.yaml
  devices/stm32f469.yaml
  peripherals/rng/rng_f4.yaml
  peripherals/rng/rng_f4_ced.yaml
Labels: stm32f4

#875 Add `QUADSPI` peripheral
  CHANGELOG.md
  devices/common_patches/h7_common_dualcore.yaml
  devices/common_patches/quadspi/dr_multi_access.yaml
  devices/stm32f412.yaml
  devices/stm32f413.yaml
  devices/stm32f446.yaml
  devices/stm32f469.yaml
  devices/stm32f730.yaml
  devices/stm32f745.yaml
  devices/stm32f750.yaml
  devices/stm32f765.yaml
  devices/stm32f7x2.yaml
  devices/stm32f7x3.yaml
  devices/stm32f7x6.yaml
  devices/stm32f7x7.yaml
  devices/stm32f7x9.yaml
  devices/stm32g473.yaml
  devices/stm32g474.yaml
  devices/stm32g483.yaml
  devices/stm32g484.yaml
  devices/stm32h743.yaml
  devices/stm32h743v.yaml
  devices/stm32h747cm4.yaml
  devices/stm32h747cm7.yaml
  devices/stm32h753.yaml
  devices/stm32h753v.yaml
  devices/stm32l412.yaml
  devices/stm32l4x1.yaml
  devices/stm32l4x2.yaml
  devices/stm32l4x5.yaml
  devices/stm32l4x6.yaml
  devices/stm32wb55.yaml
  peripherals/quadspi/quadspi_v1_dual_flash.yaml
  peripherals/quadspi/quadspi_v1_single_flash.yaml
  peripherals/quadspi/v1/base.yaml
  peripherals/quadspi/v1/dhhc.yaml
  peripherals/quadspi/v1/dual_flash.yaml
Labels: stm32f4, stm32f7, stm32h7, stm32g4, stm32wb

#864 Add I2C5 to stm32h735.yaml
  CHANGELOG.md
  devices/stm32h735.yaml
Labels: stm32h7

#857 `PWR` peripheral for STM32F4
  CHANGELOG.md
  devices/common_patches/pwr/f4.yaml
  devices/stm32f401.yaml
  devices/stm32f405.yaml
  devices/stm32f407.yaml
  devices/stm32f410.yaml
  devices/stm32f411.yaml
  devices/stm32f412.yaml
  devices/stm32f413.yaml
  devices/stm32f427.yaml
  devices/stm32f429.yaml
  devices/stm32f446.yaml
  devices/stm32f469.yaml
  peripherals/pwr/f4.yaml
  peripherals/pwr/pwr_f401.yaml
  peripherals/pwr/pwr_f405_f415_f407_f417.yaml
  peripherals/pwr/pwr_f410_f412_f413_f423.yaml
  peripherals/pwr/pwr_f411.yaml
  peripherals/pwr/pwr_f427_f437_f429_f439.yaml
  peripherals/pwr/pwr_f446.yaml
  peripherals/pwr/pwr_f469_f479.yaml
Labels: stm32f4

#947 Update stm32g0 vendor SVDs from v1.1 to v1.5.
  CHANGELOG.md
  devices/common_patches/adc/g0.yaml
  devices/common_patches/adc/g0_typo.yaml
  devices/common_patches/dma/g0_5ch.yaml
  devices/common_patches/dma/g0_7ch.yaml
  devices/common_patches/dma/g0_7ch_v2.yaml
  devices/common_patches/dma/g0_dma1_5ch_only.yaml
  devices/common_patches/dma/g0_dma1_7ch_only.yaml
  devices/common_patches/dma/g0_dma2_5ch.yaml
  devices/common_patches/flash/g0.yaml
  devices/common_patches/g0_remove_core.yaml
  devices/common_patches/g0_strip.yaml
  devices/common_patches/g0x1_strip.yaml
  devices/common_patches/rcc/g0x0_delete.yaml
  devices/common_patches/rtc/alarm.yaml
  devices/common_patches/tim/tim_4ch_16bit_l.yaml
  devices/common_patches/usart/g0_CR1.yaml
  devices/stm32g030.yaml
  devices/stm32g031.yaml
  devices/stm32g041.yaml
  devices/stm32g050.yaml
  devices/stm32g051.yaml
  devices/stm32g061.yaml
  devices/stm32g070.yaml
  devices/stm32g071.yaml
  devices/stm32g081.yaml
  devices/stm32g0b0.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
  peripherals/exti/exti_g0.yaml
  svd/vendor/en.stm32g0_svd.zip
Labels: stm32g0

#950 Cover more G0 peripheral fields
  CHANGELOG.md
  devices/common_patches/rcc/g0.yaml
  devices/common_patches/rcc/g0_no_aes.yaml
  devices/common_patches/rcc/g0b.yaml
  devices/common_patches/rcc/g0x0_delete.yaml
  devices/stm32g030.yaml
  devices/stm32g031.yaml
  devices/stm32g041.yaml
  devices/stm32g050.yaml
  devices/stm32g051.yaml
  devices/stm32g061.yaml
  devices/stm32g070.yaml
  devices/stm32g071.yaml
  devices/stm32g081.yaml
  devices/stm32g0b0.yaml
  devices/stm32g0b1.yaml
  devices/stm32g0c1.yaml
  peripherals/rcc/rcc_g0.yaml
  peripherals/rcc/rcc_g0_common.yaml
  peripherals/rcc/rcc_g0b.yaml
  peripherals/rcc/rcc_g0b1.yaml
  peripherals/rcc/rcc_g0x1.yaml
  peripherals/rcc/rcc_g0x1_aes.yaml
  peripherals/rcc/rcc_g0x1_cec.yaml
  peripherals/syscfg/syscfg_g0_common.yaml
  peripherals/syscfg/syscfg_g0_usart2.yaml
  peripherals/syscfg/syscfg_g0_usart4.yaml
Labels: stm32g0
